<div class="page-header">
		<h1>Wishing Wall</h1>
		<img id="profile" src="">
</div>
<div ng-repeat="post in posts | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
	ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
		<a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
		</a>
		<span ng-hide="post.link">
            {{post.title}}
		</span>
	</span>
	<span>
		<a href="#/posts/{{$index}}">Comments</a>
	</span>
</div>
<form ng-submit="addPost()"
style="margin-top:30px;">
    <h3>Add a new post</h3>
    <div class="form-group">
		<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<button onclick="myFacebookLogin()">Login with Facebook</button>
<button onclick="getPhoto()">Get Photo</button>
<button onclick="logout()">Log Out</button>
<form name="myForm">
    <div>Crop Image and Upload</div>
    <button ngf-select ng-model="picFile" accept="image/*">
        Select Picture</button>
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
         class="cropArea">
        <img-crop image="picFile  | ngfDataUrl"                 
        result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
        </img-crop>
    </div>
    <div>
        <img ng-src="{{croppedDataUrl}}" />
    </div>
    <button ng-click="upload(croppedDataUrl)">Submit</button> 
        
    <span class="progress" ng-show="progress >= 0">
      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
    </span>
    <span ng-show="result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</form>

<!-- <form action="https://s3-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAJLYV54GKLASAVVVA"> 
      <input type="hidden" name="acl" value="private"> 
      <input type="hidden" name="success_action_redirect" value="http://localhost:3000/success.html">
      <input type="hidden" name="policy" value="ew0KICAiSWQiOiAiUG9saWN5MTQ0NjcyOTc1NTEyMyIsDQogICJWZXJzaW9uIjogIjIwMTItMTAtMTciLA0KICAiU3RhdGVtZW50IjogWw0KICAgIHsNCiAgICAgICJTaWQiOiAiU3RtdDE0NDY3Mjk3NDUyNjEiLA0KICAgICAgIkFjdGlvbiI6ICJzMzoqIiwNCiAgICAgICJFZmZlY3QiOiAiQWxsb3ciLA0KICAgICAgIlJlc291cmNlIjogImFybjphd3M6czM6OjpuZXdsb29rLXdpc2hpbmd3YWxsIiwNCiAgICAgICJQcmluY2lwYWwiOiAiKiINCiAgICB9DQogIF0NCn0=">
      <input type="hidden" name="signature" value="SzNSRFR4Q0dYcUt3WFZ0VjNxQ0VyNXpwUjRkYW9TZ2l3WCtRR243bA==">
      <input type="hidden" name="Content-Type" value="image/jpeg"> -->
      <!-- Include any additional input fields here

      File to upload to S3: 
      <input name="file" type="file"> 
      <br> 
      <input type="submit" value="Upload File to S3"> 
    </form>  -->



